.budgetInfoContainer{
    background-color: #f6f6f6;
    width: 100vhw;
}
.tabs{
    list-style: none;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ff3838;
}
.active{
    background-color: #ff3838;
    color: white;
}
.tab_menu{
    list-style: none;
    padding-right: 5rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}
.tab-active > p {
    border-bottom: 2px solid #ff3838;
    padding-bottom: 1rem;
}
.text-red{
    color: #ff3838;
    font-weight: bolder;
    font-size: 1rem;
    padding-right: 2rem;
}