.modelPopupContainer{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    border: 0.2px solid black;
}
.modelpopup{
    width: 40vw;
    height: 50vh;
    background-color: #ffff;
}